<!DOCTYPE html>
<html>
  <head>
    <title>TASK5</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        Programming blog
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <%= link_to "Home", root_path %>
      <%= link_to "About", home_about_path %>
      <%= link_to "Services", home_services_path %>
      <%= link_to "Contact", home_contact_path %>
    </div>
  </div>
      <%= yield %>
  </body>
  <!-- Site footer -->
  <footer class="site-footer">

    <div class="container">
      <div class="row">
          <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by PI18E
          </p>
      </div>
    </div>
  </footer>
</html>
